[submodule "Wallpapers/lukesmith"]
	path = Wallpapers/lukesmith
    url = https://github.com/LukeSmithxyz/wallpapers.git
[submodule "Code/rust-dwm-status"]
	path = Code/rust-dwm-status
	url = git@github.com:ekollof/rust-dwm-status.git
